<!DOCTYPE html>
<html>

  <head>
    <title>早押し検定</title>
    <meta charset="UTF-8">
    <meta name="description" content="早押しクイズができます" />
    <script src="vue-2.5.16.min.js"></script>
    <script src="romaji.js"></script>
    <link rel="stylesheet" href="new.min.css">
    <style>
.diminished {
  color: gainsboro;
}

.correct {
  color: blue;
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.problem {
  padding: 0.5em;
  border: 1px solid black;
}
    </style>
  </head>

  <body>
    <div id="app">

      <header>
        <h1>
          早押し検定
          <span v-if="problems">"{{ problems.title }}"</span>
        </h1>
        <p v-if="problems">
          作問:
          <a target="_blank" :href="problems.author.url">{{ problems.author.text }}</a>
          /
          プログラム:
          <a target="_blank" href="https://zk-phi.github.io/">zk-phi</a>
        </p>
      </header>

      <div v-if="state === STATES.INTRO">
        <h3>遊びかた</h3>
        <ul>
          <li>わかりそうなところで [Space] を押すと問題文が止まります</li>
          <li>止めてからのシンキングタイムは５秒です</li>
          <li>早く止めて正解するほど高得点 (100 ~ 200) がもらえます</li>
        </ul>
        <h3>操作</h3>
        <ul>
          <li>キーボードで答えを入力してください</li>
          <li>漢字変換は不要です</li>
          <li>タイピング速度はスコアに関係ないので、タイプミスしないように落ち着いて入力してください</li>
          <li>外国人の名前はラストネームだけでも正解です</li>
          <li>表記揺れ (テレビとテレヴィなど) はなるべくどっちでも正解になるようにしています</li>
        </ul>
        <hr />
        <p v-if="problems">[Space] でスタート</p>
        <p v-else-if="loadError">問題の読み込みに失敗しました</p>
        <p v-else>問題を読み込み中です ...</p>
      </div>

      <div v-if="state === STATES.READING">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff">(+ {{ scoreDiff }})</span></p>
        <blockquote>
          {{ displayedProblem }}<span class="hidden">/{{ pendingProblem }}</span>
        </blockquote>
        <hr />
        <p>[Space] で回答開始</p>
      </div>

      <div v-if="state === STATES.INPUT">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff">(+ {{ scoreDiff }})</span></p>
        <blockquote>
          {{ displayedProblem }}/<span class="hidden">{{ pendingProblem }}</span>
        </blockquote>
        <p>シンキングタイム: {{ inputTimer }}</p>
        <p :class="{ diminished: alphaError }">
          アルファベット: {{ alphaInput }}|
        </p>
        <p :class="{ diminished: kanaError }">
          かな: {{ kanaInput }}{{ pendingInput }}|
        </p>
        <hr />
        <p>キーボードで回答を入力</p>
      </div>

      <div v-if="state === STATES.CORRECT">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff" class="correct">(+{{ scoreDiff }})</span></p>
        <blockquote>{{ displayedProblem }}/{{ pendingProblem }}</blockquote>
        <p class="diminished">シンキングタイム: {{ inputTimer }}</p>
        <p :class="{ diminished: !alphaCorrect, correct: alphaCorrect }">
          アルファベット: {{ alphaInput }}
          {{ alphaCorrect ? "⭕" : "" }}
        </p>
        <p :class="{ diminished: !kanaCorrect, correct: kanaCorrect }">
          かな: {{ kanaInput }}{{ pendingInput }}
          {{ kanaCorrect ? "⭕" : "" }}
        </p>
        <p>A. {{ problems.problems[problemId].displayAnswer }}</p>
        <p><small>{{ problems.problems[problemId].explanation }}</small></p>
        <hr />
        <p>[Space] で次へ</p>
      </div>

      <div v-if="state === STATES.ERROR">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff" class="diminished">(+ {{ scoreDiff }})</span></p>
        <blockquote>{{ displayedProblem }}/{{ pendingProblem }}</blockquote>
        <p class="diminished">シンキングタイム: {{ inputTimer }}</p>
        <p class="diminished">
          アルファベット: {{ alphaInput }}
        </p>
        <p class="diminished">
          かな: {{ kanaInput }}{{ pendingInput }}
        </p>
        <p>A. {{ problems.problems[problemId].displayAnswer }}</p>
        <small>{{ problems.problems[problemId].explanation }}</small>
        <hr />
        <p>[Space] で次へ</p>
      </div>

      <div v-if="state === STATES.RESULT">
        <h2>検定終了</h2>
        <p>おつかれさまでした！</p>
        <p>
          スコア: {{ score }} 点 (正答数 {{ correctCount }}/{{ problems.problems.length }})
          <a target="_blank" :href="'https://twitter.com/intent/tweet?text=' + shareText">Tweet</a>
        </p>
        <hr />
        <p>[Space] で最初に戻る</p>
      </div>

    </div>

    <script src="main.js"></script>
  </body>

</html>
