<!DOCTYPE html>
<html>

  <head>
    <title>publiQa</title>
    <meta charset="UTF-8">
    <meta name="description" content="早押しクイズエンジン publiQa" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="./assets/vue-2.5.16.min.js"></script>
    <script src="./lib/romaji.js"></script>
    <script src="./lib/audio.js"></script>
    <script src="./lib/import.js"></script>
    <link rel="stylesheet" href="./assets/reset.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>

  <body>
    <div id="app">

      <div v-if="state === STATES.INTRO" class="container">
        <div v-if="problems" class="panel">
          <div>
            <h2>{{ problems.title }}</h2>
            <div v-if="problemsCount < problems.problems.length">
              全 {{ problems.problems.length }} 問から {{ problemsCount }} 問
            </div>
            <div v-else>
              全 {{ problemsCount }} 問
            </div>
            <div v-if="problems.description">
              {{ problems.description }}
            </div>
            <hr />
          </div>
          <div>
            <div v-if="problems">
              作問:
              <a target="_blank" :href="problems.author.url">{{ problems.author.text }}</a>
            </div>
            <small>
              <a target="_blank" href="./about.html">早押しクイズエンジン publiQa</a>
            </small>
          </div>
          <div class="logo">Q</div>
        </div>
        <div v-else class="panel">
          <div v-if="loadError">❌ 問題の読み込みに失敗しました（{{loadError}}）</div>
          <div v-else-if="loadingStatus">{{ loadingStatus }}</div>
        </div>
        <div class="window">
          <div class="window-title">ルール</div>
          <div class="window-body">
            <ul>
              <li>早く押して正解するほど高得点になります。</li>
              <li>回答権は１問につき１回です。</li>
              <li>シンキングタイムは約５秒です。</li>
            </ul>
          </div>
        </div>
        <div class="window">
          <div class="window-title">操作方法</div>
          <div class="window-body">
            <ul>
              <li v-if="IS_TOUCH">画面をタップで回答モードになります。</li>
              <li v-else>[Space] キーで回答モードになります。</li>
              <li>日本語は「ローマ字」で入力してください。</li>
              <li>漢字変換などは不要です。</li>
            </ul>
          </div>
        </div>
        <div class="window">
          <div class="window-title">Tips</div>
          <div class="window-body">
            <ul>
              <li>タイピング速度はスコアに関係ありません。</li>
              <li>
                操作が不安な場合は
                <a target="_blank" href="https://zk-phi.github.io/publiqa/">サンプル問題</a>
                をどうぞ。
              </li>
            </ul>
          </div>
        </div>
        <div class="area">
          <label>
            <input type="checkbox" v-model="enableSound" />
            効果音を再生する
          </label>
        </div>
        <div v-if="loadError" class="area">❌ 問題の読み込みに失敗しました（{{loadError}}）</div>
        <div v-else-if="loadingStatus" class="area">{{ loadingStatus }}</div>
        <button v-else-if="IS_TOUCH" @click="keyDown(' ')">スタート</button>
        <div v-else class="area">[Space] でスタート</div>
      </div>

      <div v-if="state === STATES.READING" class="container">
        <div>
          <h2 class="problem-header">
            Q {{ problemId + 1 }} <small>/ {{ problemsCount }}</small>
          </h2>
          <div class="score-bar">
            <div>score: {{ score }}</div>
            <div>正答数: {{ correctCount }}</div>
          </div>
        </div>
        <div class="panel problem">
          <div class="progress-bar">
            <div class="score-diff">+{{ scoreDiff }}</div>
            <div class="progress" :style="{ background: progressBG }"></div>
          </div>
          <blockquote>
            {{ displayedProblem }}<span class="hidden">{{ pendingProblem }}</span>
          </blockquote>
        </div>
        <div class="area">
          <div v-if="IS_TOUCH">画面をタップで回答開始</div>
          <div v-else>[Space] で回答開始</div>
        </div>
      </div>

      <div v-if="IS_TOUCH && state === STATES.READING"
          @touchend="keyDown(' ')" class="touch-overlay">
      </div>

      <div v-if="state === STATES.INPUT" class="container">
        <div>
          <h2 class="problem-header">
            Q {{ problemId + 1 }} <small>/ {{ problemsCount }}</small>
          </h2>
          <div class="score-bar">
            <div>score: {{ score }}</div>
            <div>正答数: {{ correctCount }}</div>
          </div>
        </div>
        <div class="panel problem">
          <div class="progress-bar">
            <div class="score-diff">+{{ scoreDiff }}</div>
            <div class="progress" :style="{ background: progressBG }"></div>
          </div>
          <blockquote>
            {{ displayedProblem }}<span class="hidden">{{ pendingProblem }}</span>
          </blockquote>
        </div>
        <div class="area">
          <div class="area-title">
            キーボードで回答を入力
            <svg class="pie" :style="pieStyle" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <circle r="10" cx="12" cy="12" stroke-width="3" stroke="#000a" fill="none" />
            </svg>
            {{ Math.floor(inputTimer / 1000) }}
          </div>
          <div>
            <div><span class="label">英数</span> {{ alphaInput }}|</div>
            <div><span class="label">かな</span> {{ kanaInput[0] }}{{ kanaInput[1] }}|</div>
          </div>
        </div>
      </div>

      <div v-if="state === STATES.CORRECT" class="container">
        <div>
          <h2 class="problem-header">
            Q {{ problemId + 1 }} <small>/ {{ problemsCount }}</small>
          </h2>
          <div class="score-bar">
            <div>
              score: {{ score }} <span class="correct">(+ {{ scoreDiff }})</span>
            </div>
            <div>
              正答数: {{ correctCount }} <span class="correct">(+ 1)</span>
            </div>
          </div>
        </div>
        <div class="panel problem">
          <div class="progress-bar">
            <div class="score-diff">+{{ scoreDiff }}</div>
            <div class="progress" :style="{ background: progressBG }"></div>
          </div>
          <blockquote>{{ displayedProblem }}{{ pendingProblem }}</blockquote>
        </div>
        <div class="area">
          <div class="area-title">キーボードで回答を入力</div>
          <div>
            <div :class="{ diminished: !alphaCorrect, correct: alphaCorrect }">
              <span class="label">英数</span> {{ alphaInput }}
              {{ alphaCorrect ? "⭕" : "" }}
            </div>
            <div :class="{ diminished: !kanaCorrect, correct: kanaCorrect }">
              <span class="label">かな</span> {{ kanaInput[0] }}{{ kanaInput[1] }}
              {{ kanaCorrect ? "⭕" : "" }}
            </div>
          </div>
        </div>
        <div class="area">
          <div class="area-title">A. {{ problems.problems[problemId].displayAnswer }}</div>
          <small v-if="problems.problems[problemId].explanation">
            {{ problems.problems[problemId].explanation }}
          </small>
        </div>
        <button v-if="IS_TOUCH" @click="keyDown(' ')">次へ</button>
        <div v-else class="area">[Space] で次へ</div>
      </div>

      <div v-if="state === STATES.ERROR" class="container">
        <div>
          <h2 class="problem-header">
            Q {{ problemId + 1 }} <small>/ {{ problemsCount }}</small>
          </h2>
          <div class="score-bar">
            <div>score: {{ score }}</div>
            <div>正答数: {{ correctCount }}</div>
          </div>
        </div>
        <div class="panel problem">
          <div class="progress-bar">
            <div class="score-diff">+{{ scoreDiff }}</div>
            <div class="progress" :style="{ background: progressBG }"></div>
          </div>
          <blockquote>{{ displayedProblem }}{{ pendingProblem }}</blockquote>
        </div>
        <div class="area">
          <div class="area-title">キーボードで回答を入力</div>
          <div>
            <div class="diminished">
              <span class="label">英数</span> {{ alphaInput }}
            </div>
            <div class="diminished">
              <span class="label">かな</span> {{ kanaInput[0] }}{{ kanaInput[1] }}
            </div>
          </div>
        </div>
        <div class="area">
          <div class="area-title">A. {{ problems.problems[problemId].displayAnswer }}</div>
          <small v-if="problems.problems[problemId].explanation">
            {{ problems.problems[problemId].explanation }}
          </small>
        </div>
        <button v-if="IS_TOUCH" @click="keyDown(' ')">次へ</button>
        <div v-else class="area">[Space] で次へ</div>
      </div>

      <div v-if="state === STATES.RESULT" class="container">
        <div class="panel">
          <div>
            <h3>ゲーム終了</h3>
            <p>おつかれさまでした！</p>
            <div v-if="problems && problems.aftermessage">
              {{ problems.afterdescription }}
            </div>
          </div>
          <div>
            スコア: {{ score }} 点
            (正答数 {{ correctCount }}/{{ problemsCount }})
            <a target="_blank" :href="shareUrl">Tweet</a>
            <hr />
          </div>
          <div>
            <small>
              <a target="_blank" href="https://zk-phi.github.io/publiqa/about.html">早押しクイズエンジン publiQa</a>
            </small>
          </div>
        </div>
        <div class="window">
          <div class="window-title">問題一覧</div>
          <div class="window-body">
            <div v-for="row, ix in history">
              <div>{{ row.problem }}</div>
              <div v-if="row.correct" class="right">
                ⭕
                <a target="_blank" :href="row.problem | toShareUrlCorrect">Tweet</a>
              </div>
              <div v-else class="right">
                ❌
                <a target="_blank" :href="row.problem | toShareUrlWrong">Tweet</a>
              </div>
              <hr v-if="ix < history.length - 1" />
            </div>
          </div>
        </div>
        <button v-if="IS_TOUCH" @click="keyDown(' ')">最初に戻る</button>
        <div v-else class="area">[Space] で最初に戻る</div>
      </div>

      <div v-if="IS_TOUCH && state === STATES.INPUT" class="keyboard">
        <div class="keyboard-row">
          <span @touchend="keyDown('1')" class="keyboard-key-container x0975">
            <span class="keyboard-key">1</span>
          </span>
          <span @touchend="keyDown('2')" class="keyboard-key-container x0975">
            <span class="keyboard-key">2</span>
          </span>
          <span @touchend="keyDown('3')" class="keyboard-key-container x0975">
            <span class="keyboard-key">3</span>
          </span>
          <span @touchend="keyDown('4')" class="keyboard-key-container x0975">
            <span class="keyboard-key">4</span>
          </span>
          <span @touchend="keyDown('5')" class="keyboard-key-container x0975">
            <span class="keyboard-key">5</span>
          </span>
          <span @touchend="keyDown('6')" class="keyboard-key-container x0975">
            <span class="keyboard-key">6</span>
          </span>
          <span @touchend="keyDown('7')" class="keyboard-key-container x0975">
            <span class="keyboard-key">7</span>
          </span>
          <span @touchend="keyDown('8')" class="keyboard-key-container x0975">
            <span class="keyboard-key">8</span>
          </span>
          <span @touchend="keyDown('9')" class="keyboard-key-container x0975">
            <span class="keyboard-key">9</span>
          </span>
          <span @touchend="keyDown('0')" class="keyboard-key-container x0975">
            <span class="keyboard-key">0</span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('q')" class="keyboard-key-container x075">
            <span class="keyboard-key">Q</span>
          </span>
          <span @touchend="keyDown('w')" class="keyboard-key-container">
            <span class="keyboard-key">W</span>
          </span>
          <span @touchend="keyDown('e')" class="keyboard-key-container">
            <span class="keyboard-key">E</span>
          </span>
          <span @touchend="keyDown('r')" class="keyboard-key-container">
            <span class="keyboard-key">R</span>
          </span>
          <span @touchend="keyDown('t')" class="keyboard-key-container">
            <span class="keyboard-key">T</span>
          </span>
          <span @touchend="keyDown('y')" class="keyboard-key-container">
            <span class="keyboard-key">Y</span>
          </span>
          <span @touchend="keyDown('u')" class="keyboard-key-container">
            <span class="keyboard-key">U</span>
          </span>
          <span @touchend="keyDown('i')" class="keyboard-key-container">
            <span class="keyboard-key">I</span>
          </span>
          <span @touchend="keyDown('o')" class="keyboard-key-container">
            <span class="keyboard-key">O</span>
          </span>
          <span @touchend="keyDown('p')" class="keyboard-key-container">
            <span class="keyboard-key">P</span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('a')" class="keyboard-key-container">
            <span class="keyboard-key">A</span>
          </span>
          <span @touchend="keyDown('s')" class="keyboard-key-container">
            <span class="keyboard-key">S</span>
          </span>
          <span @touchend="keyDown('d')" class="keyboard-key-container">
            <span class="keyboard-key">D</span>
          </span>
          <span @touchend="keyDown('f')" class="keyboard-key-container">
            <span class="keyboard-key">F</span>
          </span>
          <span @touchend="keyDown('g')" class="keyboard-key-container">
            <span class="keyboard-key">G</span>
          </span>
          <span @touchend="keyDown('h')" class="keyboard-key-container">
            <span class="keyboard-key">H</span>
          </span>
          <span @touchend="keyDown('j')" class="keyboard-key-container">
            <span class="keyboard-key">J</span>
          </span>
          <span @touchend="keyDown('k')" class="keyboard-key-container">
            <span class="keyboard-key">K</span>
          </span>
          <span @touchend="keyDown('l')" class="keyboard-key-container x175">
            <span class="keyboard-key">L</span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('z')" class="keyboard-key-container x15">
            <span class="keyboard-key">Z</span>
          </span>
          <span @touchend="keyDown('x')" class="keyboard-key-container">
            <span class="keyboard-key">X</span>
          </span>
          <span @touchend="keyDown('c')" class="keyboard-key-container">
            <span class="keyboard-key">C</span>
          </span>
          <span @touchend="keyDown('v')" class="keyboard-key-container">
            <span class="keyboard-key">V</span>
          </span>
          <span @touchend="keyDown('b')" class="keyboard-key-container">
            <span class="keyboard-key">B</span>
          </span>
          <span @touchend="keyDown('n')" class="keyboard-key-container">
            <span class="keyboard-key">N</span>
          </span>
          <span @touchend="keyDown('m')" class="keyboard-key-container">
            <span class="keyboard-key">M</span>
          </span>
          <span @touchend="keyDown('-')" class="keyboard-key-container">
            <span class="keyboard-key">ー</span>
          </span>
          <span @touchend="keyDown('Backspace')" class="keyboard-key-container x125">
            <span class="keyboard-key special">⇐</span>
          </span>
        </div>
      </div>

    </div>
    <script src="main.js"></script>
  </body>

</html>
