/* TODO: logo, title-screen etc */

/* utils */

.hidden {
  color: rgba(0, 0, 0, 0);
}

.diminished {
  color: #0008;
}

.correct {
  color: blue;
  font-weight: bold;
}

.right {
  text-align: right;
}

/* global */

* {
  /* Disable "double-tap to zoom" */
  touch-action: manipulation;
}

html {
  background: #edad0b;
}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: auto;
  padding: 12px 4px;
  gap: 8px;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 8px 12px;
  gap: 8px;
  border: 2px solid currentColor;
  box-shadow: 2px 2px #888;
}

.window {
  display: flex;
  flex-direction: column;
}

.window-title {
  background: black;
  color: white;
  font-weight: bold;
  padding: 4px 12px 2px;
}

.window-body {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 8px 12px;
  border: 2px solid currentColor;
  gap: 8px;
}

.area {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff8;
  padding: 8px 12px;
  gap: 8px;
}

.area-title {
  font-weight: bold;
}

ul, ol {
  padding: 0 18px;
}

img {
  display: block;
  margin: 16px auto;
  width: 480px;
  max-width: 80%;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a:hover {
  color: #ea0;
}

a:active {
  color: #cd9200;
  background: #eeaa0020;
}

button {
  line-height: 1;
  padding: 12px 16px;
  border-radius: 12px;
  background: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transform: translateY(-1px);
  box-shadow: 1px 1px #888;
}

button:hover {
  background: #333;
}

button:active {
  background: #444;
  transform: translateY(0);
  box-shadow: none;
}

hr {
  margin: 8px 0 0;
}

/* title */

.logo {
  position: absolute;
  bottom: 0;
  right: 6px;
  line-height: 1;
  font-size: 100px;
  font-weight: 900;
  color: #0001;
}

/* problem */

.problem-header {
  text-align: center;
  line-height: 1;
}

.score-bar {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-weight: bold;
  margin: 0 12px;
  line-height: 1;
}

.panel.problem {
  padding: 18px 24px 12px;
  gap: 18px;
  font-weight: bold;
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.score-diff {
  font-size: x-small;
  font-weight: bold;
  line-height: 1;
}

.progress {
  height: 4px;
  flex-grow: 1;
}

.pie {
  display: inline;
  vertical-align: bottom;
  transform: rotate(-90deg);
}

.label {
  display: inline-block;
  font-size: smaller;
  font-weight: bold;
  width: 42px;
  text-align: center;
  background: #0008;
  border-radius: 4px;
  color: white;
  line-height: 1.5;
}

/* touch control */

.touch-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.keyboard {
  --keyboard-key-w: 10vw;
  --keyboard-key-h: 12vw;
  --keyboard-key-margin: 1vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:
    calc(var(--keyboard-key-margin) / 2)
    0
    calc(var(--keyboard-key-margin) / 2 + env(safe-area-inset-bottom, 0));
  background: gainsboro;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-key-container {
  width: var(--keyboard-key-w);
  height: var(--keyboard-key-h);
  padding: calc(var(--keyboard-key-margin) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key-container.x05 {
  width: calc(var(--keyboard-key-w) * 0.5);
}

.keyboard-key-container.x075 {
  width: calc(var(--keyboard-key-w) * 0.75);
}

.keyboard-key-container.x0975 {
  width: calc(var(--keyboard-key-w) * 0.975);
}

.keyboard-key-container.x125 {
  width: calc(var(--keyboard-key-w) * 1.25);
}

.keyboard-key-container.x15 {
  width: calc(var(--keyboard-key-w) * 1.50);
}

.keyboard-key-container.x175 {
  width: calc(var(--keyboard-key-w) * 1.75);
}

.keyboard-key {
  font-size: 4vw;
  width: calc(var(--keyboard-key-w) - var(--keyboard-key-margin));
  height: calc(var(--keyboard-key-h) - var(--keyboard-key-margin));
  text-align: center;
  line-height: calc(var(--keyboard-key-h) - var(--keyboard-key-margin));
  background: white;
  border-radius: 2vw;
  box-shadow: 0 0.3vw grey;
}

.keyboard-key.spacer {
  opacity: 0.25;
  border: 1px solid gray;
  background: none;
  box-shadow: none;
}

.x05 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.5 - var(--keyboard-key-margin));
}

.x075 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.75 - var(--keyboard-key-margin));
}

.x0975 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.975 - var(--keyboard-key-margin));
}

.x125 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.25 - var(--keyboard-key-margin));
}

.x15 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.5 - var(--keyboard-key-margin));
}

.x175 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.75 - var(--keyboard-key-margin));
}
